<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>支付页面</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="__PUBLIC__/jss/mescroll.min.css">

    <style>
        #sendTo .address_defalut .bg{
            width: 100%;
            height: 4px;
            overflow: hidden;
            background: url(__PUBLIC__/jss/consignee_bg.png);
        }
    </style>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"javascript:;
        crossorigin="anonymous"></script>
<script type="text/javascript" src="__PUBLIC__/jss/ajaxForm.js"></script>
<script type="text/javascript" src="__PUBLIC__/jss/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/jss/jquery.1.9.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/jss/jquery.noty.js"></script>
<script type="text/javascript" src="__PUBLIC__/jss/center.js"></script>
<script type="text/javascript" src="__PUBLIC__/jss/inline.js"></script>
<script type="text/javascript" src="__PUBLIC__/jss/default.js"></script>
<script type="text/javascript" src="__PUBLIC__/jss/jquery.noty.packaged.js"></script>
<script src="__PUBLIC__/jss/kkkk.js"></script>
</head>
<body>
<div class="container">
    <div class="row" style="margin:15px; 0;">
        <div class="col-md-12">


            <a href={:U('Orderaddress/lists',array('id'=>$id))}>
            <div id="sendTo">
                <div class="address_defalut">
                    <div class="bg"></div>
                    <ul id="editAddBtn">
                        <li><i class="fa fa-user"></i><b id="consignee_name"><span class="fl ad-span1">{$address['name']}</span>
                            <span class="fr ad-span1">{$address['phone_num']}</span></b></li>
                        <li><i class="fa fa-tag"></i><b id="consignee_code">{$address['province']}{$address['city']}{$address['county']}{$address['detailed']}</b></li>
                    </ul>
                    <input name="address_id" type="hidden" value="{$address.id}">
                    <div class="bg"></div>
                </div>
            </div>
            </a>
            <table class="table">
                <thead>
                    <tr>
                        <th>付款人</th>
                        <th>{$user.name}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>付款金额</td>
                        <td>{$pay_amount}</td>
                    </tr>

                    <tr>
                        <td>订单号</td>
                        <td>{$auction.bianhao}</td>
                    </tr>

                    <tr>
                        <td>下单时间</td>
                        <td>{$auction.placetime|date="Y-m-d H:i:s",###}</td>
                    </tr>

                    
                </tbody>
            </table>


        </div>
        <form class="col-md-6"  style="float:left" method="post"  action="{$tjurl}">
            <?php
                foreach ($native as $key => $val) {
            echo '<input type="hidden" name="' . $key . '" value="' . $val . '">';
            }
            ?>
            <button type="submit" class="btn btn-success btn-lg pppp">扫码支付</button>
        </form>

            <input type="hidden" name="id" id="kkk" value="{$id}" >
            <div id="yuer" class="btn btn-info btn-lg">余额支付</div>
    </div>
</div>






</body>
</html>
<script type="text/javascript">


    $('#yuer').click(function () {
     
        var id = $("input[name='id']").val();
        var address_id = $("input[name='address_id']").val();
       
        $.post("{:U('Order/yu_e')}",{id:id,address_id:address_id},function(data){
       console.log(data);
                if(data.code == 1)
                {  
                  
                 
                    noty({text: data.msg, layout: "center",type: 'error',timeout: 1500});
                    setTimeout('window.location="'+data['url']+'"',1500);
                }else{
                    $("#yu_e").prop('disabled','disabled');
                    noty({text: data.msg, layout: "center",type: 'success',timeout: 1500});
                    setTimeout('window.location="'+data['url']+'"',1500);

                }
        });

       // $.post()
    });
  
  
    $('form').on('submit',function(e){
        var id = $("input[name='id']").val();
        var address_id = $("input[name='address_id']").val();
        var result;
        $.ajaxSettings.async = false;
       $.post("{:U(\"Order/addAddress\")}",{id:id,address_id:address_id},function(data){
            if(data['code'] == 1)
            {
                noty({text: data['msg'], layout: "center",type: 'error',timeout: 4000});
                e.preventDefault();


            }else{
                result = true;

                $.ajax({
                    type: "post",
                    url: "{:U('order/poi',array('size'=>$native['pay_orderid']))}",
                    async:false,//设置同步方式，非异步！

                    success: function (msg) {
                     
                        if (msg.code){
                            e.preventDefault();
                            location.reload();
                            return false;


                        } else{

                        }
                    }

                });

            }
        });
        $.ajaxSettings.async = false;



    });






</script>
<script type="text/javascript" src="__PUBLIC__/jss/mescroll.js"></script>
<script>
$(function(){
var mescroll = new MeScroll("body", { //id固定"body"
				//上拉加载的配置项
			down:{
                     use:true,
              auto:false,
					autoShowLoading:false, //如果在初始化完毕之后自动执行下拉回调,是否显示下拉刷新进度; 默认false. (需配置down的callback才生效)
					callback:dataList
				},

})
  function  getListData(){
 
    
  }
  function dataList(){
    location.reload();
  }
})

</script>