<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" id="form" method="post" action="{:U('update')}">

                            <!-- PAGE CONTENT BEGINS -->


                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    商品标题 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="name" id="title" placeholder="商品标题"
                                           class="col-xs-10 col-sm-5" value="{$auction_info['shop_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">文章标题不能为空。</span>
											</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    场次选择 </label>
                                <div class="col-sm-9">
                                    <select name="session_id" class="col-xs-10 col-sm-5" >
                                        <option value="">场次选择下拉框</option>
                                        <volist name="sessions"  id="session">

                                            <option value="{$session['id']}" <if condition="$auction_info['session_id'] eq $session['id']">selected</if> >{$session['name']}--{$session['time']|date="Y-m-d H:i:s",###}</option>
                                        </volist>
                                    </select>

                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">选择商品状态。</span>
											</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4">
                                    缩略图 </label>
                                <div class="col-sm-9">
                                    <div class="col-xs-10 col-sm-5">
                                        {:UpImage("thumbnail",100,100,$auction_info['thumbnail'])}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。</span>
											</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4">
                                    轮播图 </label>
                                <div class="col-sm-9">
                                    <div class="col-xs-10 col-sm-5">
                                        {:UpImage("carousel_figure1",100,100,$auction_info['carousel_figure1'])}
                                        {:UpImage("carousel_figure2",100,100,$auction_info['carousel_figure2'])}
                                        {:UpImage("carousel_figure3",100,100,$auction_info['carousel_figure3'])}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。</span>
											</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    起拍价 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="start_price" id="seotitle" placeholder="起拍价"
                                           class="col-xs-10 col-sm-5" value="{$auction_info['start_price']}">
                                    <span style="display: none" class="help-inline col-xs-12 col-sm-7">
												<span class="middle">如果设置SEO标题，将会在IE标题栏显示SEO标题。</span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    加拍幅度 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="additional_shot_range"  placeholder="关键词"
                                           class="col-xs-10 col-sm-5" value="{$auction_info['additional_shot_range']}">
                                    <span style="display: none" class="help-inline col-xs-12 col-sm-7">
												<span class="middle">文章关键词。</span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    参考价 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="reference_price"  placeholder="参考价"
                                           class="col-xs-10 col-sm-5" value="{$auction_info['reference_price']}">
                                    <span style="display: none" class="help-inline col-xs-12 col-sm-7">
												<span class="middle">参考价。</span>
											</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    最高成交价 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="high_price"  placeholder="最高成交价"
                                           class="col-xs-10 col-sm-5" value="{$auction_info['high_price']}">
                                    <span style="display: none" class="help-inline col-xs-12 col-sm-7">
												<span class="middle">最高成交价。</span>
											</span>
                                </div>
                            </div>

                            <input type="hidden" name="guaranty"  placeholder="保证金"
                                   class="col-xs-10 col-sm-5" value={:C('price')} >

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    开拍时间 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="start_time"  placeholder="开拍时间"
                                           onfocus="WdatePicker({dateFmt:'yyyy-M-d HH:mm'})"     class="col-xs-10 col-sm-5" value="{$auction_info['start_time']|date='Y-m-d H:i:s',###}">
                                    <span style="display: none" class="help-inline col-xs-12 col-sm-7">
												<span class="middle">保证金。</span>
											</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    结束时间 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="end_time"  placeholder="结束时间"
                                           onfocus="WdatePicker({dateFmt:'yyyy-M-d HH:mm'})"      class="col-xs-10 col-sm-5" value="{$auction_info['end_time']|date='Y-m-d H:i:s',###}">
                                    <span style="display: none" class="help-inline col-xs-12 col-sm-7">
												<span class="middle">保证金。</span>
											</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    成交人</label>
                                <div class="col-sm-9">
                                    {$success_man}
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    参拍人</label>

                                <div class="col-sm-9">
                                    {$particiment}
                                </div>

                            </div>

                         
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    状态 </label>
                                <div class="col-sm-9">
                                    <select  name="status" class="col-xs-10 col-sm-5" disabled="disabled">
                                        <option value="0" <if condition="$auction_info['status'] eq 0">selected="selected"</if> >未开拍</option>
                                        <option value="1" <if condition="$auction_info['status'] eq 1">selected="selected"</if> >参拍中</option>
                                        <option value="2" <if condition="$auction_info['status'] eq 2">selected="selected"</if>>已拍出</option>
                                        <option value="3" <if condition="$auction_info['status'] eq 3">selected="selected"</if>>流拍</option>

                                    </select>

                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">选择拍卖商品状态。</span>
											</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    商品简介 </label>
                                <div class="col-sm-9">
                                    <textarea name="short_show" style="height:154px;width: 377px;">{$auction_info['short_show']}</textarea>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    商品详情内容 </label>
                                <div class="col-sm-9">
                                        <textarea name="detail" id="detail"
                                                  style="width:100%;height:400px;visibility:hidden;">{$auction_info['detail']}</textarea>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <input type="hidden" value="{$id}" name="aid">
                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info submit" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>

                            <!-- PAGE CONTENT ENDS -->


                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
        var editor = KindEditor.create('textarea[name="detail"]', {
            uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterBlur: function () {
                this.sync();
            }
        });
        $(".submit").click(function () {
            var sid = $("#sid").val();
            var title = $("#title").val();
            var detail = $("#detail").val();
            if (sid == 0) {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "文章分类必须选择。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }
            if (title == '') {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "文章标题必须填写。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }
            if (detail == '') {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "文章内容需要填写。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
                return;
            }
            $("#form").submit();
        });
    });
</script>
</body>
</html>
