<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <h4 style="text-align: center;color:red;">小提示:积分和反拍额兑换商品两者缺一不可</h4>
                    <h3 class="col-xs-12">
                        <form class="form-horizontal" id="form" method="post" action="{:U('integral/doadd')}">

                            <!-- PAGE CONTENT BEGINS -->


                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    积分商品名称 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="name" id="title" placeholder="积分商品名称"
                                           class="col-xs-10 col-sm-5" value="{$data['name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">积分商品名不能为空。</span>
											</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4">
                                    缩略图 </label>
                                <div class="col-sm-9">
                                    <div class="col-xs-10 col-sm-5">
                                        {:UpImage("thumbnail",100,100,$data['thumbnail'])}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。</span>
											</span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    所需积分： </label>
                                <div class="col-sm-9">
                                    <input type="text" name="fen_price" id="seotitle" placeholder="商品价格(积分,反拍额兑换的货币)"
                                           class="col-xs-10 col-sm-5" value="0.00">
                                    <span style="display: none" class="help-inline col-xs-12 col-sm-7">
												<span class="middle">如果设置SEO标题，将会在IE标题栏显示SEO标题。</span>
											</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                   所需反拍额： </label>
                                <div class="col-sm-9">
                                    <input type="text" name="e_price" id="seotitle" placeholder="商品价格(积分,反拍额兑换的货币)"
                                           class="col-xs-10 col-sm-5" value="0.00">
                                    <span style="display: none" class="help-inline col-xs-12 col-sm-7">
												<span class="middle">如果设置SEO标题，将会在IE标题栏显示SEO标题。</span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    兑换可用余额数： </label>
                                <div class="col-sm-9">
                                    <input type="text" name="price" id="seotitle" placeholder="兑换可用余额数"
                                           class="col-xs-10 col-sm-5" value="0.00">
                                    <span style="display: none" class="help-inline col-xs-12 col-sm-7">
												<span class="middle">设置积分，反派额兑换的可用余额数</span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>


                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    状态 </label>
                                <div class="col-sm-9">
                                    <select  name="status" class="col-xs-10 col-sm-5">
                                        <option value="1">上架</option>
                                        <option value="0">下架</option>

                                    </select>

                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">选择商品状态。</span>
											</span>
                                </div>
                            </div>




                            <input type="hidden" value="{$id}" name="aid">
                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info submit" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>

                            <!-- PAGE CONTENT ENDS -->


                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
        var editor = KindEditor.create('textarea[name="detail"]', {
            uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterBlur: function () {
                this.sync();
            }
        });
        $(".submit").click(function () {
            var sid = $("#sid").val();
            var title = $("#title").val();
            var detail = $("#detail").val();
            if (sid == 0) {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "商品名必须选择。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }
            if (title == '') {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "积分商品名必须填写。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }
            if (detail == '') {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "商品简介需要填写。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
                return;
            }
            $("#form").submit();
        });
    });
</script>
</body>
</html>
